@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.calendarEvent {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .documentCard {
    -webkit-font-smoothing: antialiased;
    background-color: $ms-color-white;
    border-width: 2px;
    border-style: solid;
    border-color: $ms-color-neutralQuaternaryAlt;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-top: 9px;
    position: relative;

    &.today {
      background-color: $ms-color-themeLight;
    }
  }

  .documentCard:hover {
    border-color: $ms-color-neutralTertiaryAlt;
  }

  .personaTertiary {
    @include ms-fontWeight-semibold;
    color: $ms-color-themeTertiary;
  }

  .centered {
    @include ms-font-l;
    @include ms-fontWeight-semibold;
    width: 100%;
    font-style: italic;
    text-align: center;
    color: $ms-color-neutralPrimary;
  }

  .personaContainer {
    margin-Top: 40px;
    margin-Left: 10px;
    margin-Right: 10px;
  }

  .persona {
    position: absolute;
    top: 137px;
    max-width: 200px;
  }

  .actions {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: $ms-color-neutralTertiaryAlt;
    border-top-width: 1.1px;
    height: 43px;
    background-color: #e8e9e2;
  }

  .eventcake {
    font-Size: 20px;
    width: 20px;
    height: 24px;
    color: $ms-color-orangeLight;
    background-color: $ms-color-neutralLighterAlt;
    text-align: center;
    @include ms-fontWeight-semibold;

    padding-top: 10px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 3px;
  }

  .eventDateToday {
    color: $ms-color-orangeLight;
  }

  .eventDate {
    @include ms-fontWeight-semibold;
    width: 100%;
    //color: $ms-color-themeTertiary;
    font-size: $ms-font-size-s;
    flex-grow: 1;
  }

  .cardBody {
    padding-top: 70px; 
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;

  }
}